<header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="header__top__left">
              <ul>
                <li
                  *ngFor="let headerTop of firstInfo"
                  >
                  <a href="#" *ngIf="headerTop.type == 'link'" class="__cf_email__" href="{{headerTop.text}}">{{headerTop.text}}</a>

                  <span *ngIf="headerTop.type == 'text'">{{headerTop.text}}</span>
                  
                  </li>
                    
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header__top__right">
              <div class="header__top__right__social">

                <a href="{{socialLink.link}}" *ngFor="let socialLink of socialLinks">
                  <i class="fa {{socialLink.class}}"></i>
                </a>
              </div>
              <div class="header__top__right__language">
                <img src="assets/img/xlanguage.png.pagespeed.ic.x-r7SQqGJF.jpg" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                  <li *ngFor="let language of languages">
                    <a href="{{language.link}}">{{language.text}}</a>
                  </li>
                </ul>
              </div>
              <div class="header__top__right__auth">
                <a *ngFor="let authLink of authLinks"
                  href="{{authLink.link}}"><i class="fa {{authLink.class}}"></i> {{authLink.text}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="header__logo">
            <a href="index-2.html"><img src="{{logo}}" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="header__menu">
            <ul>
              <li *ngFor="let headerLink of headerMenu">
                <a href="{{headerLink.link}}">
                    {{headerLink.text}}
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header__cart">
            <ul>
              <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
              <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>{{cart}}</span></div>
          </div>
        </div>
      </div>
      <div class="humberger__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>