<footer class="footer spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about" *ngFor="let flogo of footContact" >
            <div class="footer__about__logo">
              <a href="{{flogo.link}}"><img src="{{flogo.img}}" alt=""></a>
            </div>
            <ul>
              <li>{{flogo.address}}</li>
              <li>{{flogo.phone}}</li>
              <li>{{flogo.email}}: <a href="{{flogo.emailId}}" class="__cf_email__"
                  data-cfemail="fc9499909093bc9f9390938e90959ed29f9391">{{flogo.emailTxt}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
          <div class="footer__widget">
            <h6>{{footUsefultitle}}</h6>
            <ul *ngFor="let footUsefulInfo of footUsefulInfos">
              <li><a href="{{footUsefulInfo.widget1Link}}">{{footUsefulInfo.widget1}}</a></li>
              <li><a href="{{footUsefulInfo.widget2Link}}">{{footUsefulInfo.widget2}}</a></li>
              <li><a href="{{footUsefulInfo.widget3Link}}">{{footUsefulInfo.widget3}}</a></li>
              <li><a href="{{footUsefulInfo.widget4Link}}">{{footUsefulInfo.widget4}}</a></li>
              <li><a href="{{footUsefulInfo.widget5Link}}">{{footUsefulInfo.widget5}}</a></li>
              <li><a href="{{footUsefulInfo.widget6Link}}">{{footUsefulInfo.widget6}}</a></li>
            </ul>            
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="footer__widget" *ngFor="let footWid of footWidget">
            <h6>{{footWid.widgetTitle}}</h6>
            <p>{{footWid.widgetTxt}}</p>
            <form action="#">
              <input type="text" placeholder="Enter your mail">
              <button type="submit" class="site-btn">{{footWid.widgetBtn}}</button>
            </form>
            <div class="footer__widget__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer__copyright">
            <div class="footer__copyright__text">              
              <p>
                Copyright &copy;
                All rights reserved | This template is made with  by <a href="https://colorlib.com/"
                  target="_blank">Colorlib</a>
              </p>
            </div>
            <div class="footer__copyright__payment"><img src="{{footLogo}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>