<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="contact__form__title mt-5"><h2>Add Product</h2></div>
        </div>
        <div class="col-6">
            <form>
                <div class="mb-3 row">
                    <label for="name" class="col-sm-1-12 col-form-label">Product name</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name="name" id="name" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="price" class="col-sm-1-12 col-form-label">Price</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name=""price id="price" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="image" class="col-sm-1-12 col-form-label">Product image</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name="" id="image" placeholder="image">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="description" class="col-sm-1-12 col-form-label">Description</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name="description" id="description" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="availability" class="col-sm-1-12 col-form-label">Availability</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name="availability" id="availability" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="shipping" class="col-sm-1-12 col-form-label">Shipping days</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name="shipping" id="shipping" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="weight" class="col-sm-1-12 col-form-label">Weight</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name="weight" id="weight" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="information" class="col-sm-1-12 col-form-label">Information</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name="information" id="information" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="specification" class="col-sm-1-12 col-form-label">Specification</label>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" name="specification" id="specification" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>