<section class="latest-product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>{{headingOne}}</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item" *ngFor="let latestProduct of latestProductImages">
                <div class="latest-product__item__pic">
                  <img src="{{latestProduct.path}}" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>{{latestProduct.heading}}</h6>
                  <span>{{latestProduct.price}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>{{headingTwo}}</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item" *ngFor="let products of topRatedProducts ">
                <div class="latest-product__item__pic">
                  <img src="{{products.path}}" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>{{products.heading}}</h6>
                  <span>{{products.price}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>{{headingThree}}</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item" *ngFor="let products of reviewProducts ">
                <div class="latest-product__item__pic">
                  <img src="{{products.path}}" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>{{products.heading}}</h6>
                  <span>{{products.price}}</span>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>