<section class="latest-product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>{{headingOne}}</h4>
            <div class="latest-product__slider owl-carousel" >
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item" *ngFor = "let latestProduct of latestProductImages">
                  <div class="latest-product__item__pic" >
                    <img src="{{latestProduct.path}}" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>{{latestProduct.heading}}</h6>
                    <span>{{latestProduct.price}}</span>
                  </div>
                </a>
                <!-- <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="{{latestProductImage.path}}" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>{{latestProductImage.heading}}</h6>
                    <span>{{latestProductImage.price}}</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="{{latestProductImage.heading}}" alt="">
                  </div> -->
                  <!-- <div class="latest-product__item__text">
                    <h6>{{latestProductImage.heading}}</h6>
                    <span>{{latestProductImage.price}}</span>
                  </div>
                </a> -->
              </div>
              <!-- <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-1.jpg.pagespeed.ic.LGjna46RhG.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-2.jpg.pagespeed.ic.A6ypl4JLGO.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-3.jpg.pagespeed.ic.mf_XcdZ7zd.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>{{headingTwo}}</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item" *ngFor = "let products of topRatedProducts ">
                  <div class="latest-product__item__pic">
                    <img src="{{products.path}}" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>{{products.heading}}</h6>
                    <span>{{products.price}}</span>
                  </div>
                </a>
                <!-- <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-2.jpg.pagespeed.ic.A6ypl4JLGO.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a> -->
                <!-- <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-3.jpg.pagespeed.ic.mf_XcdZ7zd.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a> -->
              </div>
              <!-- <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-1.jpg.pagespeed.ic.LGjna46RhG.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-2.jpg.pagespeed.ic.A6ypl4JLGO.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-3.jpg.pagespeed.ic.mf_XcdZ7zd.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>Review Products</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-1.jpg.pagespeed.ic.LGjna46RhG.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-2.jpg.pagespeed.ic.A6ypl4JLGO.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-3.jpg.pagespeed.ic.mf_XcdZ7zd.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
              </div>
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-1.jpg.pagespeed.ic.LGjna46RhG.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-2.jpg.pagespeed.ic.A6ypl4JLGO.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="assets/img/latest-product/xlp-3.jpg.pagespeed.ic.mf_XcdZ7zd.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>